<div id="board">

  <div class="board">
    <div>
      <button></button>
      <button></button>
      <button></button>
    </div>
    <div>
      <button></button>
      <button></button>
      <button></button>
    </div>
    <div>
      <button></button>
      <button></button>
      <button></button>
    </div>
  </div>

  <div class="corrent-player">
    <p>Current player:</p>
    <span id="player">X</span>
  </div>

  <div class="scoreboard">
    
    <div id="player-x">
      <span>X</span>
      <span class="count">-</span>
    </div>

    <div id="player-o">
      <span>O</span>
      <span class="count">-</span>
    </div>
  </div>

</div>