:root{
  --color-black: #000000;
  --color-white: #ffffff;

  --color-blue-20: #2c3e50;
  --color-blue-15: #7cafe0;
  --color-blue-10: #a2d2ff;
  --color-blue-05: #bde0fe;

  --color-pink-10: #ffafcc;
  --color-pink-05: #ffc8dd;

  --color-purple-05: #cdb4db;
}

body {
  &.dark-mode {
    --color-black: #ffffff;
    --color-white: #000000;
  
    --color-blue-10: #a2d2ff;
    --color-blue-05: #bde0fe;
  
    --color-pink-10: #ffafcc;
    --color-pink-05: #ffc8dd;
  
    --color-purple-05: #cdb4db;
  }
}